# Auto detect text files and perform LF normalization
# Dart files
*.dart linguist-language=Dart

# Flutter specific files and directories
pubspec.yaml linguist-language=YAML
*.flutter-plugins linguist-vendored
*.flutter-plugins-dependencies linguist-vendored
*.lock linguist-generated
android/** linguist-vendored
ios/** linguist-vendored
